/* body{

    background-color: #111;
  
  } */

  #introduction{
    background-color: #FFF;
   

  }
  
  .h-text{
    /* padding-top: 200px; */
  
    /* margin-left: 60px; */
  
  }
  
  .h-animate .text{
  
      /* position: relative; */
  
      color: #00C9F3;
  
      /* font-size: 30px; */
  
      font-weight: 600;
      font-size: 80px;

    font-family:so !important;
    position: relative;
    display: inline-block;
    color: #00C9F3;
 
  
  }
  
  .h-animate .text.first-text{
  
      color: #111;
  
  }
  
  .text.sec-text:before{
  
      content: "";
  
      position: absolute;
  
      top: 0;
  
      left: 0;
  
      height: 100%;
  
      width: 100%;
  
      /* background-color: #111; */
  
      border-left: 2px solid #00C9F3;
  
      animation: animate 4s steps(12) infinite;
  
  }
  
  @keyframes animate{
  
      40%, 60%{
  
          left: calc(100% + 4px);
  
      }
  
      100%{
  
          left: 0%;
  
      }
  
  }
  
  
/* ------------------------------ */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #162052; */
}
.box {
    position: relative;
    width: 250px;
    height: 250px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
}
.box::before {
    content: "";
    position: absolute;
    inset: -5px 70px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: border-animation 4s linear infinite;
}
.box:hover::before {
    inset: -20px 0px;
}
@keyframes border-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.box::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: #162052;
    border-radius: 50%;
    z-index: 1;
}
.content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inset: 15px;
    border: 3px solid #f6e206;
    border-radius: 50%;
    overflow: hidden;
    z-index: 3;
}
.content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.75s;
    pointer-events: none;
    z-index: 3;
}
.box:hover .content img {
    opacity: 0;
}
.content h2 {
    position: relative;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}
.content h2 span {
    font-size: 0.77rem;
    font-weight: 300;
} 
.content a {
    position: relative;
    margin-top: 5px;
    padding: 5px 10px;
    color: #070a1c;
    background: #fff;
    border-radius: 25px;
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    text-decoration: none;
    transition: 0.5s;
}
.content a:hover {
    letter-spacing: 0.2rem;
}

/* ------------------------ */
.container-p11 {
    /* margin: 0; */
    display: grid;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    place-content: center;
  }
  
  h1 {
    --s: 0em; /* the thickness of the line */
    --c: #f39600; /* the color */
    color: #0000;
    padding-bottom: var(--s);
    background:
      linear-gradient(90deg, var(--c) 50%, #000 0) calc(100% - var(--_p, 0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
  }
  
  h1:hover {
    --_p: 100%;
  }
  
  h1 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    cursor: pointer;
  }
  
  
  
  